In [19]:
Text="I am learning NLP"

In [2]:
import pandas as pd
pd.get_dummies(Text.split())

   I  NLP  am  learning
0  1    0   0         0
1  0    0   1         0
2  0    0   0         1
3  0    1   0         0

In [3]:
text=["i love NLP and i will learn NLP in 2months"]

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer=CountVectorizer()
vectorizer.fit(text)
vector=vectorizer.transform(text)

In [5]:
print(vectorizer.vocabulary_)
print(vector.toarray())

{'love': 4, 'nlp': 5, 'and': 1, 'will': 6, 'learn': 3, 'in': 2, '2months': 0}
[[1 1 1 1 1 2 1]]

In [6]:
print(vector)

  (0, 0)	1
  (0, 1)	1
  (0, 2)	1
  (0, 3)	1
  (0, 4)	1
  (0, 5)	2
  (0, 6)	1

In [7]:
CountVectorizer?

In [8]:
df=pd.DataFrame(data=vector.toarray(), columns=vectorizer.get_feature_names_out())
df

   2months  and  in  learn  love  nlp  will
0        1    1   1      1     1    2     1

In [9]:
text="I am learning NLP"

In [10]:
!pip install textblob

Collecting textblob
  Downloading textblob-0.19.0-py3-none-any.whl (624 kB)
Collecting nltk>=3.9
  Downloading nltk-3.9.1-py3-none-any.whl (1.5 MB)
Requirement already satisfied: click in c:\users\karla\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (8.0.4)
Requirement already satisfied: regex>=2021.8.3 in c:\users\karla\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (2022.3.15)
Requirement already satisfied: tqdm in c:\users\karla\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (4.64.0)
Requirement already satisfied: joblib in c:\users\karla\anaconda3\lib\site-packages (from nltk>=3.9->textblob) (1.2.0)
Requirement already satisfied: colorama in c:\users\karla\anaconda3\lib\site-packages (from click->nltk>=3.9->textblob) (0.4.6)
Installing collected packages: nltk, textblob
  Attempting uninstall: nltk
    Found existing installation: nltk 3.7
    Uninstalling nltk-3.7:
      Successfully uninstalled nltk-3.7
Successfully installed nltk-3.9.1 textblob-0.19.0

In [11]:
from textblob import TextBlob
TextBlob(text).ngrams(1)

[WordList(['I']), WordList(['am']), WordList(['learning']), WordList(['NLP'])]

In [12]:
TextBlob(text).ngrams(2)

[WordList(['I', 'am']),
 WordList(['am', 'learning']),
 WordList(['learning', 'NLP'])]

In [13]:
TextBlob(text).ngrams(3)

[WordList(['I', 'am', 'learning']), WordList(['am', 'learning', 'NLP'])]

In [17]:
Text=['The quick brown box for jumped over the lazy dog','The dog.','The fox']

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
vectorizer.fit(Text)
print(vectorizer.vocabulary_)
print(vectorizer.idf_)

{'the': 9, 'quick': 8, 'brown': 1, 'box': 0, 'for': 3, 'jumped': 5, 'over': 7, 'lazy': 6, 'dog': 2, 'fox': 4}
[1.69314718 1.69314718 1.28768207 1.69314718 1.69314718 1.69314718
 1.69314718 1.69314718 1.69314718 1.        ]

In [23]:
class kiran:
    x=5
p1=x
print(x.kiran)

In [ ]:
df=pd.read